
<a href="/">Back</a>

<br />
<br />
<br />


<form name="filterCountries" id='filterCountries'>
  <label>Region: </label>
  <select id="region" name="region"  (change)="getDataByValue()"  >
    <option value="">-- Choose --</option>
    <option value="europe">Europe</option>
    <option value="africa">Africa</option>
    <option value="asia">Asia</option>
    <option value="americas">Americas</option>
    <option value="oceania">Oceania</option>
    <option value="polar">Polar</option>
  </select>

  <label>Country: </label>
  <input type="text"  (keyup)="getDataByValue()"  name="name" placeholder="Enter country name" />

  <label>Currency: </label>
  <input type="text" (keyup)="getDataByValue()"  name="currency" placeholder="Enter currency type" />

</form>

  <div id="countries">
    <div class="country" *ngFor="let country of countries; let num=index"> 
         <a href="#edit" (click)='editCountry(country)'><div class="name">{{country.name}}</div></a>
    </div>
  </div>






<app-edit [country]="selectedCountry" id='editCountry'></app-edit>