.country{
    margin:1% 0;
    border:1px solid #e8e8e8;
    
}

.country:hover{
    cursor:pointer;
    box-shadow:0 0 5px #000;
}


label{
   margin-right:5px;
}


#countries{
    padding:2%;
    width:70%;
    margin:0 auto;
}

#inputContainer{
    margin:1% auto;
    width:100%;
    text-align: center;
}

#showMoreButton{
    display:block;
    position:relative;
    width:20%;
    margin:1% auto;
}


#inputContainer > p{
    margin:0 2%;
    display:inline-block;
}