
    <form name="filterCountries" id="filterCountries">
       <div id="inputContainer">
           <p>
            <label>Region: </label>
            <md-select id="region" name="region" [(ngModel)]="selectedValue" (change)="getSelectValue(selectedValue)">
                <md-option value="">-- Choose --</md-option>
                <md-option value="europe">Europe</md-option>
                <md-option value="africa">Africa</md-option>
                <md-option value="asia">Asia</md-option>
                <md-option value="americas">Americas</md-option>
                <md-option value="oceania">Oceania</md-option>
                <md-option value="polar">Polar</md-option>
            </md-select>   
           </p>
           <p>
                <label>Country: </label>
                <md-input-container>
                    <input mdInput type="text"  (keyup)="getDataByValue()"  name="name" placeholder="Enter country name" />
                </md-input-container>
                <p>
                <label>Currency: </label>
                <md-input-container>
                    <input mdInput type="text" (keyup)="getDataByValue()"  name="currency" maxlength="3" pattern="[a-zA-Z]{3}" placeholder="Enter currency type" />
                </md-input-container>
                </p>
        </div>
    </form>
    
    <div id="countries">
        <md-card class="country" (click)="editCountry(country)" routerLink="/edit" routerLinkActive="active" *ngFor="let country of countries | slice:0:limit; let num=index">
            <md-card-title>{{country.name}}</md-card-title> 
            <md-card-subtitle>{{country.capital}}</md-card-subtitle>
            <md-card-content>{{country.region}}</md-card-content>
        </md-card>
        <button id="showMoreButton" md-raised-button color="primary">Show more</button>
    </div>

<router-outlet></router-outlet>

