<div *ngIf="country">
    <form id="editForm">
        <md-grid-list cols="2" rowHeight="100px">
            <md-grid-tile>
                <p>
                    <label>Name: </label>
                    <md-input-container>   
                        <input mdInput type='text' name='countryName' value="{{country.name}}" />
                    </md-input-container>
                </p>
            </md-grid-tile>
            <md-grid-tile>
                  <p>
                    <label>Capital: </label>
                    <md-input-container>
                        <input mdInput type='text' name='capital' value="{{country.capital}}" />
                    </md-input-container>
                  </p>
            </md-grid-tile>
            <md-grid-tile>
                  <p>
                    <label>Region: </label>
                    <md-input-container>
                        <input mdInput type='text' name='region' value="{{country.region}}" />
                    </md-input-container>
                  </p>
            </md-grid-tile>
            <md-grid-tile>
                  <p>
                    <label>Sub region: </label>   
                    <md-input-container>
                        <input mdInput type='text' name='subRegion' value="{{country.subRegion}}" />
                    </md-input-container>
                  </p>
            </md-grid-tile>
            <md-grid-tile>
                  <p>
                    <label>population: </label>
                    <md-input-container>
                        <input mdInput type='number' name='population' value="{{country.population}}" />
                    </md-input-container>
                  </p>
            </md-grid-tile>
            <md-grid-tile>
                  <p>
                    <label>Calling codes: </label>   
                    <md-input-container>
                        <input mdInput type='text' name='callingCodes' value="{{country.callingCodes}}" />
                    </md-input-container>
                  </p>
            </md-grid-tile>
            <md-grid-tile>
                  <p>
                    <label>Top level domain: </label>
                    <md-input-container>
                        <input mdInput type='text' name='topLevelDomain' value="{{country.topLevelDomain}}" />
                    </md-input-container>
                  </p>
            </md-grid-tile>
            <md-grid-tile>
                  <p>
                    <label>Languages:</label>
                    <md-input-container>
                        <input mdInput type='text' name='languages' value="{{country.language}}" />    
                    </md-input-container>
                  </p>
            </md-grid-tile>
        </md-grid-list>
    </form>

</div>


<div *ngIf='!country'>
    Nothing to display, you have not selected any country yet!
</div>

<button md-raised-button color="primary" (click)="goBack()">Back</button>